

header {
    color: white;
    background-image: url("media/header_background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
}

.invisible-back {
    border: 0;
    background-color: inherit;
}

section.choose-flight{
    display: inline-grid;

}
